#header {
    height: 70px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px;
    background-color: pink;
    margin-bottom: 5px;
}

#header img {
    float: left;
}

body {
    font-family: verdana;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

ul li {
    float: left;
    background-color: cyan;
    height: 40px;
    width: 200px;
    line-height: 40px; 
    text-align: center;
    margin-right: 2px;
}

ul li a {
    text-decoration: none;
    border: 1px solid black;
    border-radius : 5px;
    display: block;
}

ul li a:hover {
    background-color: pink;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

table {
    margin: auto;
}

th {
    color: red;
}


